
<!DOCTYPE html>

<html lang="en-us" >
<head>
    {% load static %}
    {% load i18n %}
<title>Enter new password</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">

<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=""
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">
<h1 id="site-name"><a href="http://litindia.in/">Litindia Python Team</a></h1>
        </div>
    </div>
    <!-- END Header -->
<div class="breadcrumbs">
<a href="{% url 'indexview' %}">Home</a> > Password reset confirmation
</div>

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Enter new password</h1>

    {% block content %}

    {% if validlink %}

    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-password1">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">{% trans 'New password:' %}</label>
            {{ form.new_password1 }}
        </div>
        <div class="form-row field-password2">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
            {{ form.new_password2 }}
        </div>
        <input type="submit" value="{% trans 'Change my password' %}">
    </fieldset>
    </form>

    {% else %}

    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

    {% endblock %}
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
