{% include 'common/top.html' %}

    <!--Breadcrumb Start-->
    <section id="breadcrumb">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="active">Create Project</li>
        </ol>
      </div>
    </section>
    <!--Breadcrumb End-->

    <section id="main">
      <div class="container">
        <div class="row">

            {% include 'common/left.html' %}

          <div class="col-md-9">
            <!-- Gallery -->
            <div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Create New Projects</h3>
              </div>
              <div class="panel-body">
               {% if form %}
                    <form method="post" >{% csrf_token %}
                        {% load bootstrap %}
                        {{ form.management_form }}
                        {{ form|bootstrap }}

                   <button type="submit" class="btn btn-primary form-control">Add Programmer</button>
                   </form>
               {% endif %}
              </div>
              </div>
          </div>
        </div>
      </div>
    </section>

 <script>
    {% if messages %}
            function myFunction() {
                {% for message in messages %}
                      alert("{{ message }}");
                {% endfor %}
            }
            myFunction();
    {% endif %}

</script>

{% include 'common/foot.html' %}